label {
  font-size: 16px;
  margin-right: 10px;
}
.logo {
  width: 220px
}
.container {
  display: flex;
  flex-direction: column;
    align-items: center;
  justify-content: center;
  
}
.password-weak {
  background-color: red;
}

.password-medium {
  background-color: yellow;
}

.password-strong {
  background-color: green;
}
.password-strength {
  margin-top: 10px;
  display: flex;
}
.password-section {
  flex: 1;
  height: 10px;
  margin: 0 2px;
  border-radius: 5px;
}
#passwordInput {
  padding: 10px;
  font-size: 16px;

  display: flex;

}
.input {
width: 250px;
height: 30px;
}