
<div class="container">
  <img class="logo" src="../../assets/images/uvelichenie-limita-monobank-do-100-000-griven-bez-predoplat-photo-1068.png"
  >
  <label for="passwordInput">Password:</label>
  <input 
    class="input"
    type="password" 
    [placeholder]="'Enter password'" 
    [ngClass]="{ 'password-weak': passwordStrength === 'easy', 'password-medium': passwordStrength === 'medium', 'password-strong': passwordStrength === 'strong' }" 
    (input)="onPasswordChange($event)"
  >


</div>