<div class="password-strength" >
  <div class="password-section" [ngClass]="{'password-grey': passwordStrength === 'empty','password-red': passwordStrength === 'easy'|| passwordStrength === 'weak', 'password-green': passwordStrength === 'strong', 'password-yellow': passwordStrength === 'medium'}"></div>
  <div class="password-section" [ngClass]="{'password-red': passwordStrength === 'weak','password-grey': passwordStrength === 'easy'|| passwordStrength === 'empty','password-yellow': passwordStrength === 'medium','password-green': passwordStrength === 'strong'}"></div>
  <div class="password-section" [ngClass]="{'password-red': passwordStrength === 'weak','password-grey': passwordStrength === 'easy'|| passwordStrength === 'medium'||passwordStrength === 'empty','password-green': passwordStrength === 'strong' }"></div>
</div>

